In [1]:
for i in [1, 2, 3, 4, 5]:
    print(i, end=' ')                    # first line in "for i" block
    for j in [1, 2, 3, 4, 5]:
        print(j, end=' ')                # first line in "for j" block
        print(i + j, end=' ')            # last line in "for j" block
    print(i)                    # last line in "for i" block
print("done looping")

1 1 2 2 3 3 4 4 5 5 6 1
2 1 3 2 4 3 5 4 6 5 7 2
3 1 4 2 5 3 6 4 7 5 8 3
4 1 5 2 6 3 7 4 8 5 9 4
5 1 6 2 7 3 8 4 9 5 10 5
done looping

In [2]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

easier_to_read_list_of_lists = [[1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9]]

In [3]:
two_plus_three = 2 + \
                 3

## Modules

In [4]:
import re

In [5]:
my_regex = re.compile("[0-9]+", re.I)

In [6]:
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [7]:
import re as regex

In [8]:
my_regex = regex.compile("[0-9]+", regex.I)

In [9]:
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [10]:
from collections import defaultdict, Counter

In [11]:
lookup = defaultdict(int)
my_counter = Counter()

In [12]:
match = 10
from re import *    # uh oh, re has a match function
print(match)        # "<function match at 0x10281e6a8>"

<function match at 0x7fddeb13f3a0>

## Functions

In [18]:
def double(x):
    """
    This is where you put an optional docstring that explains what the
    function does. For example, this function multiplies its input by 2.
    """
    return x * 2

In [19]:
double(68)

136

In [29]:
def apply_to_one(f):
    """Calls the function f with 1 as its argument"""
    return f(1)

In [30]:
my_double = double             # refers to the previously defined function | x * 2
x = apply_to_one(my_double)    # equals 2 | 1 * 2

In [31]:
x

2

In [32]:
y = apply_to_one(lambda x: x + 4)      # equals 5
y

5

In [33]:
another_double = lambda x: 2 * x       # don't do this

In [34]:
def another_double(x):
    """Do this instead"""
    return 2 * x

In [35]:
another_double(6)

12

In [36]:
def my_print(message = "my default message"):
    print(message)

In [37]:
my_print()

my default message

In [38]:
my_print("hello")   # prints 'hello'
my_print()          # prints 'my default message

hello
my default message

In [39]:
my_print("not default")

not default

In [41]:
# Not in the book
def multiply(x, y = 0):
    """If you don't declare y, it's valueis zero """
    return x * y

In [42]:
multiply(2, 7)

14

In [43]:
multiply(9)

0

In [46]:
def full_name(first = "What's-his-name", last = "Something"):
    return first + " " + last

In [47]:
full_name("Joel", "Grus")     # "Joel Grus"

'Joel Grus'

In [48]:
full_name("Joel")             # "Joel Something"

'Joel Something'

In [49]:
full_name(last="Grus")        # "What's-his-name Grus

"What's-his-name Grus"

## Strings

In [50]:
tab_string = "\t"       # represents the tab character
len(tab_string)         # is 1

1

In [ ]:
# Raw string
not_tab_string = r"\t"  # represents the characters '\' and 't'
len(not_tab_string)     # is 2

In [53]:
first_name = "Bernardo"
last_name = "Monteiro Rocha"

In [56]:
full_name1 = first_name + " " + last_name             # string addition
full_name1

'Bernardo Monteiro Rocha'

In [57]:
full_name2 = "{0} {1}".format(first_name, last_name)  # string.format but the f-string way is much less unwieldy: full_name3 = f"{first_name} {last_name}"
full_name2

'Bernardo Monteiro Rocha'

In [58]:
full_name3 = f"{first_name} {last_name}"
full_name3

'Bernardo Monteiro Rocha'

## Exceptions

In [59]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

## Lists

In [60]:
# An ordered collection

integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]

In [61]:
list_length = len(integer_list)     # equals 3
list_sum    = sum(integer_list)     # equals 6

In [63]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
zero = x[0]          # equals 0, lists are 0-indexed
one = x[1]           # equals 1
nine = x[-1]         # equals 9, 'Pythonic' for last element
eight = x[-2]        # equals 8, 'Pythonic' for next-to-last element
x[0] = -1            # now x is [-1, 1, 2, 3, ..., 9]

In [65]:
x                    # now x is [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
x[-2] = 90

In [67]:
x                   # now x = [-1, 1, 2, 3, 4, 5, 6, 7, 90, 9]

[-1, 1, 2, 3, 4, 5, 6, 7, 90, 9]

In [68]:
first_three = x[:3]                 # [-1, 1, 2]
three_to_end = x[3:]                # [3, 4, ..., 9]
one_to_four = x[1:5]                # [1, 2, 3, 4]
last_three = x[-3:]                 # [7, 8, 9]
without_first_and_last = x[1:-1]    # [1, 2, ..., 8]
copy_of_x = x[:]                    # [-1, 1, 2, ..., 9]

In [70]:
every_third = x[::3]
every_third

[-1, 3, 6, 9]

In [71]:
five_to_three = x[5:2:-1]
five_to_three

[5, 4, 3]

In [72]:
8 in [0, 9, 7]

False

In [73]:
2 in [2, 2, 2, 2]

True

In [74]:
on_the_contrary = "collection of meaningless words"

In [75]:
on_the_contrary[::-1]   # 'sdrow sselgninaem fo noitcelloc'

'sdrow sselgninaem fo noitcelloc'

In [76]:
x = [1, 2, 3]
x.extend([4, 5, 6])     # x is now [1, 2, 3, 4, 5, 6]
x

In [78]:
y = x +  [7, 8,  9, 10]
y                       # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
y.append(0)

In [80]:
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0]

In [82]:
x, y = [1, 2]           # now x is 1, y is 2

In [85]:
q, w, r =[3, 5]         # ValueError: not enough values to unpack (expected 3, got 2)

ValueError: not enough values to unpack (expected 3, got 2)

In [86]:
_, f = [0, 8]
_

In [88]:
f

8

## Tuples

In [89]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3      # my_list is now [1, 3]

In [90]:
try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [91]:
def sum_and_product(x, y):
    return (x + y), (x * y)

sp = sum_and_product(2, 3)          # sp is (5, 6)
s, p = sum_and_product(5, 10)       # s is 15, p is 50"

In [94]:
x, y = 1, 2                         # now x is 1, y is 2
x, y = y, x                         # Pythonic way to swap variables; now x is 2, y is 1

## Dictionaries

In [95]:
empty_dict = {}                     # Pythonic
empty_dict2 = dict()                # less Pythonic

In [96]:
grades = {"Berna": 90, "Adam": 67}  # Dictionary literal

In [98]:
berna_grade = grades["Berna"]
berna_grade

90

In [100]:
error = grades["nonexistent"]       # KeyError: 'nonexistent'

KeyError: 'nonexistent'

In [101]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print("no grade for Kate!")

no grade for Kate!

In [102]:
joel_has_grade = "Joel" in grades     # False
kate_has_grade = "Kate" in grades     # False

In [105]:
maybe = "Maybe" in grades
maybe

False

In [111]:
kates_grade = grades.get("Kate", 0)   # equals 0

In [112]:
kates_grade

0

In [109]:
bernas_grade = grades.get("Berna", 0)
bernas_grade

90

In [115]:
no_ones_grade = grades.get("No One")  # default is None